#carrossel1-Slides,#carrossel2-Slides,#carrossel3-Slides,#carrossel4-Slides{
    width: 80%;
}
hr{
    width: 20%;
    background-color: rgb(42, 129, 100);
}
body{
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-image: -o-linear-gradient(to top, #69473c, green,rgb(13,54,13),#69473c)
}
p{
    padding: 3%;
}
#carrossel2-Slides{
    width: 80%;
}
body{
    /*Definindo o tipo de fonte da pagina web*/
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(9, 9, 131);
}
#carrossel3-Slides{
    width: 80%;
}
p{
    /*modifica o espaço entre as linhas da TAG p*/
    line-height: 1.9;
}
h1{
    background-color: antiquewhite;
    margin-top: 25px; /*margem a bordo  da section para os outros conteudos, seja a pagina ou outras section*/
    padding: 25px; /*margem entre a borda da section para o que está dentro dela*/
    border-radius: 10px; /* para retor das bordas*/
}
p{
    margin-left: 15px;
    margin-right:15px;
}
#carrossel4-Slides{
    width: 80%;
}
p{
    /*modifica o espaço entre as linhas da TAG p*/
    line-height: 1.9;
}
h1{
    background-color: antiquewhite;
    margin-top: 25px; /*margem a bordo  da section para os outros conteudos, seja a pagina ou outras section*/
    padding: 25px; /*margem entre a borda da section para o que está dentro dela*/
    border-radius: 10px; /* para retor das bordas*/
}
p{
    margin-left: 15px;
    margin-right:15px;
}
